html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
}

#terminal-container {
  width: 100dvw;
  height: 100dvh;
  margin: 0 auto;
  padding: 0;
  .terminal {
    height: 100dvh;
  }
  .xterm-screen {
    margin: auto;
  }
}
